
*, 
::before,
::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

body,
html {
    background-color: hsl(212, 45%, 89%);
}


main {
    display: flex;
    align-items: center;
    justify-content: center; 
    width: 1440px;
    height: 960px; 
}


#card {
    width: 320px;
    height: 499px;
    background-color: hsl(0, 0%, 100%);
    border-radius: 15px; 
    margin: auto;
    position: absolute;
    left: 560px;
    top: 230.5px;
    text-align: center;
    padding: 16px;
}

#qr-code {
    width: 288px;
    height: 288px;
    object-fit: cover;
    border-radius: 15px;
}

aside {
    width: 288px;
    height: 131px;
    padding: 16px;
}

#header {
    font-family: "Outfit Bold", sans-serif;
    line-height: 120%;
    margin-bottom: 10px;
    font-weight: 700;
    padding-left: 24px;
    padding-right: 24px;
    margin-bottom: 16px;
}

p {
    font-family: "Outfit Regular", sans-serif;
    letter-spacing: 0.2px;
    font-size: 15px;
    font-weight: 400;
    color: hsl(218, 44%, 22%);
}

