
*, 
::before,
::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

body,
html {
    background-color: hsl(212, 45%, 89%);
}


main {
    width: 100%;
    min-width: 215px;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;  
}


#card {
    width: 215px;
    height: 360px;
    background-color: hsl(0, 0%, 100%);
    border-radius: 15px; 
    margin: auto;
    position: absolute;
    top: 25%;
    text-align: center;
    padding: 7px 5px 5px 5px;
}

#qr-code {
    width: 200px;
    height: auto;
    border-radius: 15px;
    margin-bottom: 10px;
}

aside {
    width: 200px;
}

h4 {
    margin-bottom: 10px;
}

p {
    font-size: 15px;
}

